
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&family=Signika:wght@300;400;500;600;700&display=swap');

.inline-block ul {
    display: flex;
    vertical-align: top;
    list-style-type: none;
    margin: 0;
}


.inline-block ul li {
    padding-left: 80px;
}
.mainContainer {
    max-width: 1500px;
    margin: auto;
    padding: 2em;
}

.inline-block {
    display: flex;
}

.navContainer {
    display: flex;
    justify-content: space-between;
}

a:link {
    text-decoration: none;
    color: #555555;
}

header {
    display: block;
    color: #555555;
}

.navigation {
    display: block;
}

.logo {
    border-radius: none;
    height: 50%;
    max-width: 250px;
}

.heroImg h1 {
    margin-top: 100px;
}

.headshot {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.headshotContainer {
    max-width: 40%;
}

.content {
    font-size: 24px;
    display: flex;
    color:#555555;
    margin-top: 50px;
}

.moreInformation {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.caseStudies {
    color: #555555;
    width: 50%;
}



.content p {
    margin-left: 2em;
}

nav ul li {
    display: inline-block;
}

.button {
    background-color:#618C78;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #f2efe9;
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 15px;
    margin-left: 15em;
    margin-top: 4em;
}

.button2 {
    background-color:#f2efe9;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #274032;
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 15px;
    margin-left: 15em;
    margin-top: 4em;
}

.edu {
    color: #555555;
    width: 50%;
}


.headerText {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Signika', sans-serif;
    color: #555555;
    display: block;
}

.headerText2 {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Signika', sans-serif;
    color: white;
    display: block;
    padding: 1em;
}

.headerText3 {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Signika', sans-serif;
    color: white;
    display: block;
    text-align: center;
}

.subheaderText {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    color: #555555;
    display: block;
}

.titleText {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Sarala', sans-serif;
    color: #555555;
    display: block;
}

.titleText2 {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Sarala', sans-serif;
    color: #555555;
    display: block;
    margin-left: 20px;
}

.bodyText {
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
    color: #555555;
    display: block;
    font-weight: normal;
}

.bodyText2 {
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: normal;
}

.bodyText3 {
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
    color: #555555;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.bodyTextAlt {
    font-size: 14px;
    font-family: 'Sarala', sans-serif;
    color: #555555;
    display: flex;
    justify-content: right;
    padding-right: 5px;
    text-decoration: underline;
}

.bodyTextAlt2 {
    font-size: 14px;
    font-family: 'Sarala', sans-serif;
    color: #618C78;
    display: flex;
    justify-content: right;
    padding-right: 5px;
}

.boldTitle {
    font-size: 24px;
    font-family: 'Signika', sans-serif;
    color: #274032;
    font-weight: bold;
}
.boldTitle2 {
    font-size: 24px;
    font-family: 'Signika', sans-serif;
    color: #274032;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

.secondaryTitle {
    font-size: 28px;
    font-family: 'Signika', sans-serif;
    color: #555555;
}

.descriptionText {
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
    color: #555555;
    display: block;
    margin-top: 2em;
}

.listText {
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
    color: #555555;
    margin-left: 2em;
    padding-left: 15px;
}

.nextText {
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
    color: #618C78;
    display: flex;
    justify-content: right;
}

.previousText {
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
    color: #618C78;
    display: flex;
    justify-content: left;
}

.headerLinkText {
    font-size: 16px;
    font-family: 'Sarala', sans-serif;
    color: #618C78;
}

.headerLinkText2 {
    font-size: 16px;
    font-family: 'Sarala', sans-serif;
    color: #555555;
}

.processHeader {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Sarala', sans-serif;
    color: #555555;
    display: flex;
    justify-content: left;
    padding-left: 2em;
    padding-top: 10px;
}

.processSubheader {
    font-size: 24px;
    font-family: 'Signika', sans-serif;
    color: #555555;
    font-weight: bold;
    display: flex;
    justify-content: left;
    margin-top: 2em;
}

.skills{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "skillButtons";
    width: 50%;
}
.skillButtons {
    grid-area: skillButtons;
    margin-left: 2em;
}

.buttonList {
    display: flex;
    flex-wrap: wrap;
    grid-area: buttonList;
}

.bubbleUX {
    margin: 20px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 220px;
    height: 40px;
    border-radius: 15px;
}
.bubblePro {
    margin: 20px;
    margin-left: 60px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 170px;
    height: 40px;
    border-radius: 15px;
    align-items: left;
}
.bubbleSto {
    margin: 20px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 170px;
    height: 40px;
    border-radius: 15px;
    align-items: right;
}
.bubbleSoc {
    margin: 20px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 260px;
    height: 40px;
    border-radius: 15px;
}
.bubbleGra {
    margin: 20px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 220px;
    height: 40px;
    border-radius: 15px;
}
.bubbleWir {
    margin: 20px;
    margin-left: 50px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 15px;
}
.bubblePho {
    margin: 20px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 15px;
}
.bubbleProd {
    margin: 20px;
    margin-left: 50px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 220px;
    height: 40px;
    border-radius: 15px;
}
.bubbleACS {
    margin: 20px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 260px;
    height: 40px;
    border-radius: 15px;
}
.bubbleFig {
    margin: 20px;
    margin-left: 80px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 110px;
    height: 40px;
    border-radius: 15px;
}
.bubbleGS {
    margin: 20px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 15px;
}
.bubbleMO {
    margin: 20px;
    margin-left: 70px;
    background-color: #C4C4C4;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #555555;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 15px;
}

.footerContainer {
    margin-top: 150px;
    background-color: #618C78;
    padding: 2em;
}

.resumeLink {
    display: block;
    margin-top: 4em;
}

.contactContainer {
    display: block;
    text-align: center;
    padding: 2em;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.hobbies {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "skillButtons";
    width: 50%;
}

.hobbyImgs {
    max-width: 100%;
    margin-top: 2em;
}

.hobbyPhotos {
    border-radius: 20px;
    width: 35%;
    height: auto;
    padding: 10px;
}

.caseImgs {
    max-width: 100%;
    margin-top: 3em;
}
.casePhotos {
    width: 60%;
    height: auto;
    padding: 20px;
}


.studyIntro {
    font-size: 24px;
    display: flex;
    color:#555555;
}

.particaseIntro h1 {
    margin-top: 100px;
}

.caseheaderImg {
    width: 75%;
    height: auto;
    margin-top: 2em;
    border-radius: 15px;
}

.partiApp {
    width: 110%;
    height: auto;
    margin-top: 2em;
    margin-right: 2em;
}

.caseDescription {
    margin-top: 2em;
    background-color: #F2EFE9;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.partiPhotos {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

.partiPhotos2 {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.partiPhotos3 {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.dotPhotos {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dotIntroImg {
    display: flex;
    justify-content: center;
}

.dotheaderImg {
    width: 100%;
    height: 600px;
    margin-top: 2em;
    object-fit: cover;
    object-position: 0 25%;
}

.ASFintro {
    width: 80%;
    height: auto;
    margin-top: 2em;
    border-radius: 15px;
}

.ASFlogo {
    height: auto;
}

.asfIntro {
    display: flex;
}

.workHeader {
    display: block;
}

.workMenu {
    display: flex;
    justify-content: right;
    margin-top: 2em;
}

.galleryPhotos {
    float: left;
    width: 350px;
}

.hobbyGallery{
    margin-top: 4em;
    margin-bottom: 4em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "galleryPhotos";
}

.artGallery{
    margin-top: 4em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "galleryPhotos";
}

a.contactButton {
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    color: #274032;
    font-size: 18px;
    background-color: #f2efe9;
    width: 160px;
    height: 40px;
    border-radius: 15px;
    display: block;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 1em;
    padding: 0;
}

.contactButton {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: #274032;
    font-size: 18px;
    background-color: #f2efe9;
    width: 160px;
    height: 40px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 1em;
    padding: 0;
    border: none;
}

.headerContainer {
    display: block;
    height: 500px;
}

.imageContainer {
    background-image: url("../Images/DOT/projects.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    height: 500px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: center;
}

.imageContainer2 {
    background-image: url("../Images/ASF/sb-atlanta-takingroot-july2016-blacklives-800x599.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    height: 500px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: center;
}

.imageContainer3 {
    background-image: url("../Images/parti\ header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
    height: 500px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: center;
}

.overlayBox {
    background-color: rgb(242, 239, 233, 0.7);
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.overlayBox2 {
    background-color: rgb(242, 239, 233, 0.8);
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.designProcess {
    margin-top: 4em;
}

.sectionBlocks {
    background-color: rgb(242, 239, 233);
    height: 120px;
    display: flex;
    justify-content: left;
    padding-left: 6em;
    margin-top: 4em;
}

.sectionBlocks2 {
    background-color: rgb(242, 239, 233);
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding-left: 6em;
    padding-right: 12em;
    margin-top: 4em;
}

.headerBlock {
    display: flex;
}

.icon {
    height: 75%;
    display: flex;
    padding-top: 15px;
}

.researchSection {
    display: flex;
    justify-content: space-around;
}

.prototypeSection {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.researchPhotos {
    display: flex;
    justify-content: space-around;
}

.researchImages {
    width: 35%;
    height: fit-content;
    margin-top: 2em;
}

.definitionImages {
    width: 25%;
    height: fit-content;
    margin-top: 2em;
}

.prototypeImages {
    width: 40%;
    height: fit-content;
    margin-top: 2em;
}

.finalProto {
    background-color: rgb(242, 239, 233);
    justify-content: center;
}

.finalDOTLogo {
    display: block;
    justify-content: center;
}

.finalImagesDOT {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 4em;
    padding: 1em;
}

.finalImagesASF {
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-right: 4em;
    padding: 1em;
}

.finalProto {
    margin-top: 4em;
}

.nextStudySection {
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 239, 233);
}

.nextText {
    margin: 4em;
}

.previousText {
    margin: 4em;
}

.finalDOT {
    height: auto;
    max-width: 55%;
    object-fit: contain;
}

.finalDOT2 {
    height: auto;
    max-width: 35%;
    object-fit: contain;
}

.finalASF {
    height: auto;
    max-width: 70%;
    object-fit: contain;
    justify-content: center;
    display: flex;
}

.logoASF {
    width: auto;
    max-height: 80%;
    padding: 10px;
}

.logoASF2 {
    width: 30%;
    padding: 2em;
}

.logoParti {
    width: auto;
}